.-white-text-color, .-white-text-color * {
    color: #fff;
}

.-title-home {
    display: flex;
    flex-direction: column;

    line-height: 140%;
}

.-subtitle {
    font-weight: normal;
    font-size: 4vh;
}
.-title {
    font-weight: bold;
    font-size: 6vh;
}

.-text-normal {
    font-size: 1.8vh;
}

.-remove-link-style {
    text-decoration: none;
}