@import url("./color_palette.css");

.-border {
    border-style: none;
    border: 0.14rem solid;
    outline: none;
}

.-border-radius {
    border-radius: 0.75rem;
}

.-border-c-theme {
    border-color: var(--theme-color);
}

.-border-c-white {
    border-color: var(--white-color);
}

.-border-c-gray {
    border-color: var(--gray-color);
}