button {
    display: flex;

    justify-content: center;
    align-items: center;

    width: 100%;
    height: 50px;

    border-style: none;

    
    margin-top: 1rem;
}

#confirmButton {
    background-color: #CB3156;
}

#cancelButton {
    background-color: #00000000;
}