@import url("./color_palette.css");

button {
    display: flex;

    justify-content: center;
    align-items: center;

    width: 100%;
    height: 50px;

    border-style: none;

    
    margin-top: 1rem;

    cursor: pointer;
}

#confirmButton {
    background-color: var(--theme-color);
}

#cancelButton {
    background-color: #00000000;
}

#instagramPreview, #instagramFinal {
    display: flex;

    justify-content: center;
    align-items: center;

    width: 50px;
    height: 50px;

    justify-self: right;
    align-self: self-end;
}

#instagramPreview img, #instagramFinal img {
    width: 40%; 
    height: 40%; 
}

#togglePhoto {
    display: flex;

    align-items: center;
    justify-content: center;

    border-radius: 100%; 
    background-color: var(--theme-color);

    width: 40px;
    height: 40px;
}

#togglePhoto img {
    width: 50%; 
    height: 50%; 
}