.-form {
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    align-items: center;

    min-width: 350px;
    width: 30%;
    height: 100%;
}

.-modal {
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    align-items: center;

    min-width: 350px;
    width: 30%;
    height: 100%;

    overflow: hidden;
}

.-modal .-card-user-photo {
    margin-bottom: 2rem;
}

.-data {
    display: flex;
    flex-direction: column;
    
    justify-content: space-between;
    align-items: start;
    
    width: 100%;
    height: 100%;

    padding: 5% !important;
}

.-card-image-preset {
    display: flex;
    background-color: #0E0D0D;

    justify-content: end;
    align-items: end;

    width: 25vh;
    height: 25vh;

    border-radius: 100%;
}

.-card-image-define {
    display: flex;
    background-color: #0E0D0D;

    justify-content: end;
    align-items: end;

    width: 100%;
    height: 100%;
}