.-form {
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    align-items: center;

    min-width: 320px;
    width: 100%;
    max-width: 400px;
    height: max-content;
}

.-modal {
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    align-items: center;

    min-width: 320px;
    width: 100%;
    max-width: 400px;
    min-height: 500px;
    height: max-content;

    overflow: hidden;
}

.-modal .-card-user-photo {
    margin-bottom: 2rem;
}

.-data {
    display: flex;
    flex-direction: column;
    
    justify-content: space-between;
    align-items: start;
    
    width: 100%;
    height: 100%;

    padding: 5% !important;
}

.-card-image-define {
    display: flex;
    background-color: #0E0D0D;

    width: 100%;
    min-height: 200px;
    height: 100%;

    margin-bottom: 5%;

    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}